@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Poppins:ital,wght@0,400;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:ital,wght@0,400;1,300&family=Leckerli+One&family=Poppins:ital,wght@0,400;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:ital,wght@0,400;1,300&family=Leckerli+One&family=Poppins:ital,wght@0,400;1,100;1,200&display=swap');

.fullPage{
 text-align: justify;
}

.jpg01 {
  position: absolute;
  left: 264px;
  top: 599px;
  width: 476px;
  height: 595px;
}

.jpg02 {
  position: absolute;
  left: 753px;
  top: 599px;
  width: 445px;
  height: 595px;
}

.jpg03 {
  position: absolute;
  left: 1211px;
  top: 599px;
  width: 445px;
  height: 595px;
}

.MainTitle {
  color: #000000;
  font: 600 50px "Poppins", sans-serif;
  position: absolute;
  left: 113px;
  top: 108px;
}

.KIWI01{
  text-align: justified;
  font: 500 40px "Poppins", sans-serif;
  position: absolute;
  left: 198px;
  top: 232px;
  width: 1543px;
  height: 336px;
}

.para1 {
  color: #e70000;
  font: 500 40px/70px "Poppins", sans-serif;
}

.para2 {
  color: #000000;
  font: 500 40px "Poppins", sans-serif;
}

.habitat-and-diet {
  color: #000000;
  text-align: justified;
  font: 500 40px/70px "Poppins", sans-serif;
  position: absolute;
  left: 264px;
  top: 1278px;
  width: 367px;
  height: 67px;
}

.rectangle-10 {
  background: #d60000;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 211px;
  top: 1293px;
}

.family-life {
  color: #000000;
  text-align: justified;
  font: 500 40px/70px "Poppins", sans-serif;
  position: absolute;
  left: 264px;
  top: 1850px;
  width: 367px;
  height: 67px;
}

.rectangle-11 {
  background: #0064fa;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 211px;
  top: 1865px;
}

.HABITAT-AND-DIET{
  color: #000000;
  text-align: justified;
  font: 400 32px "Lato", sans-serif;
  position: absolute;
  left: 265px;
  top: 1399px;
  width: 807px;
  height: 247px;
}

.FAMILY-LIFE {
  color: #000000;
  text-align: justified;
  font: 400 32px "Lato", sans-serif;
  position: absolute;
  left: 265px;
  top: 1991px;
  width: 807px;
  height: 1096px;
}

.rectangle-12 {
  background: #d9d9d9;
  width: 613px;
  height: 1698px;
  position: absolute;
  left: 1158px;
  top: 1312px;
}

.kiwi {
  color: #000000;
  text-align: justified;
  font: 500 40px/70px "Poppins", sans-serif;
  position: absolute;
  left: 1412px;
  top: 1339px;
}

.temporal-range-miocene-recent{
  color: #000000;
  text-align: center;
  font: 500 20px/70px "Poppins", sans-serif;
  position: absolute;
  left: 1158px;
  top: 1374px;
  width: 613px;
  height: 56px;
}

.jpg04 {
  position: absolute;
  left: 1201px;
  top: 1455px;
  width: 528px;
  height: 450px;
}

.jpg04-Name {
  color: #0047ff;
  text-align: center;
  font: 400 22px "Abyssinica SIL", sans-serif;
  position: absolute;
  left: 1271px;
  top: 1914px;
  width: 357px;
  height: 40px;
}

.scientific-specification-Bar {
  background: #8f9b00;
  width: 613px;
  height: 63px;
  position: absolute;
  left: 1158px;
  top: 1979px;
}

.scientific-specification-Name {
  color: #ffffff;
  text-align: center;
  font: 600 24px "Lexend", sans-serif;
  position: absolute;
  left: 1327px;
  top: 1996px;
}

.type-species-Bar {
  background: #9b0054;
  width: 613px;
  height: 63px;
  position: absolute;
  left: 1158px;
  top: 2782px;
}

.type-species-Text {
  color: #ffffff;
  text-align: center;
  font: 600 24px "Lexend", sans-serif;
  position: absolute;
  left: 1387px;
  top: 2799px;
}

.Last-quote {
  color: #000000;
  text-align: center;
  font: 400 94px "Leckerli One", sans-serif;
  font-style: oblique , italic;
  position: absolute;
  left: 140px;
  top: 3149px;
  width: 1677px;
  height: 281px;
  
}

.scientific-specification-Details {
  color: #0121c8;
  text-align: center,right;
  font: 600 28px/68px "Lato", sans-serif;
  position: absolute;
  left: 1460px;
  top: 2072px;
  width: 334px;
  height: 672px;
}

.details-bullet{
  color: #000000;
  text-align: center,left;
  font: 400 28px/68px "Lato", sans-serif;
  position: absolute;
  left: 1400px;
  top: 2070px;
  width: 35px;
  height: 653px;
}

.scientific-specification-Name-details {
  color: #000000;
  text-align: left;
  font: 400 28px/68px "Lato", sans-serif;
  /* font-style:oblique; */
  position: absolute;
  left: 1230px;
  top: 2070px;
  width: 35px;
  height: 653px;
}

.apteryx-australis-Line {
  color: #0500ff;
  text-align: center;
  font: 400 56px "Poppins", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 1194px;
  top: 2866px;
  width: 533px;
  height: 135px;
}
